---
import Github from "@/components/Icons/GithubLogo.astro";
import Layout from "@/layouts/Layout.astro";
import Linkedin from "@/components/Icons/LinkedInLogo.astro";
import Twitter from "@/components/Icons/TwitterLogo.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto max-w-3xl px-5 mb-5 flex flex-col gap-10">
    <section class="flex flex-col gap-16">
      <article class="flex mt-10 items-center gap-6">
        <div
          class="w-40 h-40 overflow-hidden rounded-full border-8 border-tertiary"
        >
          <img src="me.webp" alt="" />
        </div>
        <div>
          <h1 class="font-Onest font-bold text-5xl text-secondary">
            What's Up!
          </h1>
          <h2 class="font-Onest font-bold text-2xl text-primary">
            I'm SAIDREXXX
          </h2>
          <h3 class="font-Onest font-bold text-ls text-tertiary">
            Ingeniero en Sistemas Computacionales
          </h3>

          <ul class="flex pt-2 items-center [&>li]:pr-4">
            <li>
              <a href="https://github.com/SAIDREXX"
                ><Github
                  className="hover:transition hover:-translate-y-1 hover:duration-300"
                /></a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/saidrexxdemeneghi"
                ><Linkedin
                  className="hover:transition hover:-translate-y-1 hover:duration-300"
                /></a
              >
            </li>
            <li>
              <a href="https://twitter.com/SAIDREXXX"
                ><Twitter
                  className="hover:transition hover:-translate-y-1 hover:duration-300"
                /></a
              >
            </li>
            <li>
              <button
                class="bg-secondary p-2 rounded-xl text-white font-Onest font-bold"
                >Descargar CV</button
              >
            </li>
          </ul>
        </div>
      </article>
    </section>
    <hr class="border-quaternary border-dashed" />
    <h1 class="font-Onest font-bold text-2xl text-primary">Featured Project</h1>
    <section>
      <!--TODO: Crear el Featured Proyect una vez exista jajaja -->
    </section>
    <hr class="border-quaternary border-dashed" />
    <h1 class="font-Onest font-bold text-2xl text-primary">Top Projects</h1>
    <section></section>
    <hr class="border-quaternary border-dashed" />
  </main>
</Layout>

<!--
	<section
          class="max-w-lg font-Onest flex flex-col gap-2 text-pretty text-primary font-medium"
        >
          
          <p>
            My real name is <strong>Said Demeneghi</strong> but I'm known as <strong
              >SAIDREXXX</strong
            > on the internet. I'm a <strong>Full Stack Developer </strong>from <strong
              >México</strong
            >. The first time I wrote a line of code was in 2016 and since then
            I've been learning and improving my skills.
          </p>

          <p>
            In 2023 I was a finalist in an International Mobile Application
            Development Tournament <strong
              ><a
                target="_blank"
                rel="noreferrer noopener"
                href="https://www.tuapp.org">(TuApp)</a
              ></strong
            > where universities from all over Latin America and more than 150 teams
            participated.
          </p>

          <p>
            With a solid experience in web and mobile application development,
            as well as in the creation of tools for the community, such as
            extensions for VS Code, I am able to provide innovative and quality
            solutions.
          </p>
        </section>
 -->
