<div
  class="flex w-full items-center justify-center bg-background shadow-xl rounded-3xl border border-dashed border-primary"
>
  <article
    class="font-Onest font-medium [&>p]:mb-4 text-pretty text-quinary p-4"
  >
    <p>
      My real name is <strong>Said Demeneghi</strong> but I'm known as <strong
        >SAIDREXXX</strong
      > on the internet. I'm a <strong>Full Stack Developer </strong>from <strong
        >México</strong
      >. The first time I wrote a line of code was in 2016 and since then I've
      been learning and improving my skills.
    </p>

    <p>
      In 2023 I was a finalist in an<a
        target="_blank"
        rel="noreferrer noopener"
        href="https://www.tuapp.org"
      >
        <strong
          >International Mobile Application Development Tournament <i>(TuApp)</i
          ></strong
        ></a
      > where universities from all over Latin America and more than 150 teams participated.
    </p>

    <p>
      <strong
        >With a solid experience in web and mobile application development</strong
      >, as well as in the creation of tools for the community, such as
      extensions for VS Code, <strong
        >I am able to provide innovative and quality solutions.</strong
      >
    </p>
  </article>
</div>
