---
import AstroLogo from "./Icons/AstroLogo.astro";
import BunLogo from "./Icons/BunLogo.astro";
import CSSLogo from "./Icons/CSSLogo.astro";
import DartLogo from "./Icons/DartLogo.astro";
import FigmaLogo from "./Icons/FigmaLogo.astro";
import FirebaseLogo from "./Icons/FirebaseLogo.astro";
import FlutterLogo from "./Icons/FlutterLogo.astro";
import GithubLogo from "./Icons/GithubLogo.astro";
import GitLogo from "./Icons/GitLogo.astro";
import HTMLogo from "./Icons/HTMLogo.astro";
import JavaLogo from "./Icons/JavaLogo.astro";
import JavascriptLogo from "./Icons/JavascriptLogo.astro";
import MongoLogo from "./Icons/MongoLogo.astro";
import MySQLogo from "./Icons/MySQLogo.astro";
import NodeLogo from "./Icons/NodeLogo.astro";
import PHPLogo from "./Icons/PHPLogo.astro";
import PythonLogo from "./Icons/PythonLogo.astro";
import SkillCard from "./SkillCard.astro";
import SupabaseLogo from "./Icons/SupabaseLogo.astro";
import TailwindLogo from "./Icons/TailwindLogo.astro";
import TypescriptLogo from "./Icons/TypescriptLogo.astro";
import VercelLogo from "./Icons/VercelLogo.astro";
import TursoLogo from "./Icons/TursoLogo.astro";
---

<div class="grid md:grid-cols-4 grid-cols-3 gap-4">
  <SkillCard skillName="Astro">
    <div slot="logo">
      <AstroLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Bun">
    <div slot="logo">
      <BunLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="CSS">
    <div slot="logo">
      <CSSLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Dart">
    <div slot="logo">
      <DartLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Figma">
    <div slot="logo">
      <FigmaLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Firebase">
    <div slot="logo">
      <FirebaseLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Flutter">
    <div slot="logo">
      <FlutterLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Git">
    <div slot="logo">
      <GitLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="GitHub">
    <div slot="logo">
      <GithubLogo className="w-7 h-7" color="#000" />
    </div>
  </SkillCard>
  <SkillCard skillName="HTML">
    <div slot="logo">
      <HTMLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Java">
    <div slot="logo">
      <JavaLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="JavaScript">
    <div slot="logo">
      <JavascriptLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="MongoDB">
    <div slot="logo">
      <MongoLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="MySQL">
    <div slot="logo">
      <MySQLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="NodeJS">
    <div slot="logo">
      <img class="w-7 h-7" src="node.svg" alt="" />
    </div>
  </SkillCard>
  <SkillCard skillName="PHP">
    <div slot="logo">
      <PHPLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Python">
    <div slot="logo">
      <img class="w-7 h-7" src="python.svg" alt="" />
    </div>
  </SkillCard>
  <SkillCard skillName="Supabase">
    <div slot="logo">
      <SupabaseLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="TailwindCSS">
    <div slot="logo">
      <TailwindLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="TursoDB">
    <div slot="logo">
      <TursoLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="TypeScript">
    <div slot="logo">
      <TypescriptLogo className="w-7 h-7" />
    </div>
  </SkillCard>
  <SkillCard skillName="Vercel">
    <div slot="logo">
      <VercelLogo className="w-7 h-7" />
    </div>
  </SkillCard>
</div>
