---
interface Props {
  skillName: string;
}
const { skillName } = Astro.props;
---

<div
  class="bg-background2 shadow-xl p-4 rounded-3xl cursor-pointer relative border border-dashed border-primary hover:scale-105 duration-500 ease-in-out"
>
  <ul class="flex items-center gap-2 font-Onest font-medium text-text1">
    <li><slot name="logo" /></li>
    <li><h1>{skillName}</h1></li>
  </ul>
</div>
