---
import Footer from "@/components/Footer.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="bg-background" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="@saidrexx Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <footer>
    <Footer />
  </footer>
</html>

<style is:global>
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f8f8ec;
  }

  ::-webkit-scrollbar-thumb {
    background: #3b535a;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #243236;
  }
</style>
